spring:
  application.name: drinkit
  profiles:
    include: security,postgresql,mail,monitoring,search-engine,ocr,webclient
  threads.virtual.enabled: true

server:
  port: ${PORT:8080}
  servlet:
    context-path: /drinkit

springdoc:
  api-docs:
    path: /openapi/api-docs
    enabled: false
  swagger-ui:
    path: /openapi/ui
    enabled: false
  show-actuator: true