spring:
  application.name: updater
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/drinkit
    username: drinkit
    password: admin
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yml
