name: Validate Gradle Wrapper

on:
  push:
    paths:
      - 'gradle/wrapper/**'

permissions:
  contents: read

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5